{% extends 'base.html.twig' %}

{% block title %}Hello BentoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        width: 100%;
        font: 100px sans-serif;
        text-align: center;
    }
</style>

<div class="example-wrapper">
    <h1>{{ random_emoji.emoji }}</h1>
</div>
{% endblock %}
